<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Breathing Exercise</title>
  <link rel="stylesheet" href="/public/styles/breathing.css">
</head>
<body>

  <!-- Optional background video -->
 

  <!-- Main Container -->
  <div class="breathing-container">
    <div class="circle"></div>
    <h1 id="breath-text">Breathe In</h1>
  </div>

  <script>
    const breathText = document.getElementById('breath-text');
    const circle = document.querySelector('.circle');

    const totalCycle =7500; // full cycle 7.5 secounds

    function breathAnimation() {
        breathText.innerText = 'Breathe In';
        circle.className = 'circle grow';

        setTimeout(() => {
            breathText.innerText = 'Hold';
            circle.className = 'circle hold';

        setTimeout(() => {
            breathText.innerText = 'Breathe Out';
            circle.className = 'circle shrink';
        }, 1500); // hold 1.5s

        }, 3000); // inhale 3s
    }

    setInterval(breathAnimation, totalCycle);

    breathAnimation(); //starts animation when page loads 

  </script>
  </body>
</html>