<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Sign Up - MyAstralSpace</title>
  <link rel="stylesheet" href="/public/styles/forms.css" />
</head>
<body>
  <nav class="navbar">
   
    <div>
      <a href="/views/home.ejs" class="sign-in-button"> Create a Astral Space</a>
      <a href="/views/wallpapers.ejs" class="sign-in-button"> Free Wallpaper Download </a>
      <a href="/views/quoteGenerator.ejs" class="sign-in-button">Random Quote Generator</a>
      <a href="/views/breathing.ejs" class="sign-in-button">Breathing Simulation</a>
      <a href="/views/affirmations.ejs" class="sign-in-button">Affirmation Generator</a>
      <a href="/views/dashboard.ejs" class="sign-in-button">Your Dashboard</a>
      <a href="/views/login.ejs" class="sign-in-button">Sign In</a>
      <a href="/views/signup.ejs" class="sign-up-button">Sign Up</a>
     </div>
    </nav>

  <h1>🚀 Create Your Astral Space</h1>

  <br>

  <form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Sign Up</button>
  </form>

  <p>Already have an account? <a href="/login">Log in</a></p>
  
</body>
</html>
