<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Your Astral Space</title>
  <link rel="stylesheet" href="/public/styles/wallpaper.css" />
</head>
<body>

  <!-- Video behind everything -->
  <video autoplay muted loop id="bg-video">
    <source src="/videos/MagicallyRelaxing/FullMoonBackgroundVideo.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
<br>
  <!-- Content wrapper on top of video -->
  <div class="content">
    <header>
      <h1>Free Desktop Wallpaper Downloads</h1>
    </header>
      <nav class="navbar">
        <div>
          
          </select>
         
        </div>
        <div>
          <a href="/views/home.ejs" class="sign-in-button"> Create a Astral Space</a>
          <a href="/views/dashboard.ejs" class="sign-in-button">Your Dashboard</a>
          <a href="/views/login.ejs" class="sign-in-button">Sign In</a>
          <a href="/views/signup.ejs" class="sign-up-button">Sign Up</a>
          
    
        </div>
      </nav>
  
<br><br>
    <main>
      <h2>Make an account now to get free unlimited downloads!  </h2><br>
      <p>Welcome to Your Astral Space! <br><br>
        Here, you can download as many stunning desktop wallpapers 
        as you like — completely free. <br> Just create a free account to 
        unlock unlimited downloads and start building your own personal Astral Spaces
         — vision board-style galleries you can save, customize, and revisit anytime. <br> <br>
          No subscriptions, no hidden costs — just beautiful wallpapers and endless 
          inspiration at your fingertips</p>
      <br>
      
      
      <h2>Click to Download Now</h2>
      <div class="all-spaces">
        <div class="Astral-gallery">
              <div class="grid-item">
                <img src="/public/images/Astral.jpg" alt="Astral Space">
                <a href="/public/images/Astral.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/beach.jpg" alt="Astral Space">
                <a href="/public/images/beach.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/beachLandscape.jpg" alt="Astral Space">
                <a href="/public/images/beachLandscape.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/beautifulLand.jpg" alt="Astral Space">
                <a href="/public/images/beautifulLand.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/beautifulTraveler.png" alt="Astral Space">
                <a href="/public/images/beautifulTraveler.png" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/beauty.jpg" alt="Astral Space">
                <a href="/public/images/beauty.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/coolLofiBoy.jpg" alt="Astral Space">
                <a href="/public/images/coolLofiBoy.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/fire.jpg" alt="Astral Space">
                <a href="/public/images/fire.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/glowingTree.jpg" alt="Astral Space">
                <a href="/public/images/glowingTree.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/GoldenWoods.jpg" alt="Astral Space">
                <a href="/public/images/GoldenWoods.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/hand.jpg" alt="Astral Space">
                <a href="/public/images/hand.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/itsAllInYourMind.jpg" alt="Astral Space">
                <a href="/public/images/itsAllInYourMind.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/LofiBeachChill.jpg" alt="Astral Space">
                <a href="/public/images/LofiBeachChill.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/LofiChillCity.png" alt="Astral Space">
                <a href="/public/images/LofiChillCity.png" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/LofiChillGirl.jpg" alt="Astral Space">
                <a href="/public/images/LofiChillGirl.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/lofiCity.jpg" alt="Astral Space">
                <a href="/public/images/lofiCity.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/LofiMagic.jpg" alt="Astral Space">
                <a href="/public/images/LofiMagic.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/LofiStudy-2.png" alt="Astral Space">
                <a href="/public/images/LofiStudy-2.png" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/LofiStudyBoy.jpg" alt="Astral Space">
                <a href="/public/images/LofiStudyBoy.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/lofiSunset.jpg" alt="Astral Space">
                <a href="/public/images/lofiSunset.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/LofiWindowChill.jpg" alt="Astral Space">
                <a href="/public/images/LofiWindowChill.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/lofiWindowWatch.jpg" alt="Astral Space">
                <a href="/public/images/lofiWindowWatch.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/magicalFlower.png" alt="Astral Space">
                <a href="/public/images/magicalFlower.png" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/magicalJar.jpg" alt="Astral Space">
                <a href="/public/images/magicalJar.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/magicalTree.jpg" alt="Astral Space">
                <a href="/public/images/magicalTree.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/MagicalWorld.jpg" alt="Astral Space">
                <a href="/public/images/MagicalWorld.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/magicLake.jpg" alt="Astral Space">
                <a href="/public/images/magicLake.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/mountinLandscape.jpg" alt="Astral Space">
                <a href="/public/images/mountinLandscape.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/mushrooms.jpg" alt="Astral Space">
                <a href="/public/images/mushrooms.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/mushroomTree.jpg" alt="Astral Space">
                <a href="/public/images/mushroomTree.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/paintedlandscape.jpg" alt="Astral Space">
                <a href="/public/images/paintedlandscape.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/petal.jpg" alt="Astral Space">
                <a href="/public/images/petal.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/reBirth.jpg" alt="Astral Space">
                <a href="/public/images/reBirth.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/SeaAndSpace.jpg" alt="Astral Space">
                <a href="/public/images/SeaAndSpace.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/Shakara.jpg" alt="Astral Space">
                <a href="/public/images/Shakara.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/space-2.jpg" alt="Astral Space">
                <a href="/public/images/space-2.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/space.jpg" alt="Astral Space">
                <a href="/public/images/space.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/spaceAndTime.jpg" alt="Astral Space">
                <a href="/public/images/spaceAndTime.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/spaceCloud.jpg" alt="Astral Space">
                <a href="/public/images/spaceCloud.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/spaceEye.png" alt="Astral Space">
                <a href="/public/images/spaceEye.png" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/spaceWoman.jpg" alt="Astral Space">
                <a href="/public/images/spaceWoman.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/spiritualWoman.jpg" alt="Astral Space">
                <a href="/public/images/spiritualWoman.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/sunfallLandscape.jpg" alt="Astral Space">
                <a href="/public/images/sunfallLandscape.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/treeOfLife.jpg" alt="Astral Space">
                <a href="/public/images/treeOfLife.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/Universal.jpg" alt="Astral Space">
                <a href="/public/images/Universal.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/Universe-2.png" alt="Astral Space">
                <a href="/public/images/Universe-2.png" download class="download-icon">⬇️</a>
              </div>

              <div class="grid-item">
                <img src="/public/images/anime-3.jpg" alt="Astral Space">
                <a href="/public/images/anime-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/beachWave-3.jpg" alt="Astral Space">
                <a href="/public/images/beachWave-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/brightPink-3.jpg" alt="Astral Space">
                <a href="/public/images/brightPink-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/cityScape-3.jpg" alt="Astral Space">
                <a href="/public/images/city-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/clearBeach-3.jpg" alt="Astral Space">
                <a href="/public/images/clearBeach-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/city-3.jpg" alt="Astral Space">
                <a href="/public/images/city-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/Cloudy-3.jpg" alt="Astral Space">
                <a href="/public/images/Cloudy-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/darkLandscpae-3.jpg" alt="Astral Space">
                <a href="/public/images/darkLandscpae-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/darkMountin-3.jpg" alt="Astral Space">
                <a href="/public/images/darkMountin-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/flower-3.jpg" alt="Astral Space">
                <a href="/public/images/flower-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/ganesh-3.jpg" alt="Astral Space">
                <a href="/public/images/ganesh-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/halloweeen-3.jpg" alt="Astral Space">
                <a href="/public/images/halloweeen-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/hoodedBoy-3.jpg" alt="Astral Space">
                <a href="/public/images/hoodedBoy-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/jellyFish-3.jpg" alt="Astral Space">
                <a href="/public/images/jellyFish-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/Journey-3.jpg" alt="Astral Space">
                <a href="/public/images/Journey-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/larntun-3.jpg" alt="Astral Space">
                <a href="/public/images/larntun-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/love-3.jpg" alt="Astral Space">
                <a href="/public/images/love-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/mountinScape-3.jpg" alt="Astral Space">
                <a href="/public/images/mountinScape-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/mountinSky-3.jpg" alt="Astral Space">
                <a href="/public/images/mountinSky-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/palmtree-3.jpg" alt="Astral Space">
                <a href="/public/images/palmtree-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/palmtreee-3.jpg" alt="Astral Space">
                <a href="/public/images/palmtreee-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/paris-3.jpg" alt="Astral Space">
                <a href="/public/images/paris-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pinkMountin-3.jpg" alt="Astral Space">
                <a href="/public/images/pinkMountin-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/redSky-3.jpg" alt="Astral Space">
                <a href="/public/images/redSky-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/spaceman-3.jpg" alt="Astral Space">
                <a href="/public/images/spaceman-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/street-3.jpg" alt="Astral Space">
                <a href="/public/images/street-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/streett-3.jpg" alt="Astral Space">
                <a href="/public/images/streett-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/sunfall-3.jpg" alt="Astral Space">
                <a href="/public/images/sunfall-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/sunrise-3.jpg" alt="Astral Space">
                <a href="/public/images/sunrise-3.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/morty-3.jpeg" alt="Astral Space">
                <a href="/public/images/morty-3.jpeg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/rick-3.jpeg" alt="Astral Space">
                <a href="/public/images/rick-3.jpeg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/rickk-3.jpeg" alt="Astral Space">
                <a href="/public/images/rickk-3.jpeg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic1.jpg" alt="Astral Space">
                <a href="/public/images/pic1.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic2.png" alt="Astral Space">
                <a href="/public/images/pic2.png" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic3.png" alt="Astral Space">
                <a href="/public/images/pic3.png" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic4.jpg" alt="Astral Space">
                <a href="/public/images/pic4.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic5.jpg" alt="Astral Space">
                <a href="/public/images/pic5.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic6.jpg" alt="Astral Space">
                <a href="/public/images/pic6.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic7.jpg" alt="Astral Space">
                <a href="/public/images/pic7.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic8.jpg" alt="Astral Space">
                <a href="/public/images/pic8.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic9.jpg" alt="Astral Space">
                <a href="/public/images/pic9.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic10.jpg" alt="Astral Space">
                <a href="/public/images/pic10.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic11.jpg" alt="Astral Space">
                <a href="/public/images/pic11.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic12.jpg" alt="Astral Space">
                <a href="/public/images/pic12.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic13.jpg" alt="Astral Space">
                <a href="/public/images/pic13.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic14.jpg" alt="Astral Space">
                <a href="/public/images/pic14.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic15.jpg" alt="Astral Space">
                <a href="/public/images/pic15.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic16.jpg" alt="Astral Space">
                <a href="/public/images/pic16.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic17.jpg" alt="Astral Space">
                <a href="/public/images/pic17.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic18.jpg" alt="Astral Space">
                <a href="/public/images/pic18.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic19.jpg" alt="Astral Space">
                <a href="/public/images/pic19.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic20.jpg" alt="Astral Space">
                <a href="/public/images/pic20.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic21.jpg" alt="Astral Space">
                <a href="/public/images/pic21.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic23.jpg" alt="Astral Space">
                <a href="/public/images/pic23.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic24.png" alt="Astral Space">
                <a href="/public/images/pic24.png" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic25.jpg" alt="Astral Space">
                <a href="/public/images/pic25.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic27.jpg" alt="Astral Space">
                <a href="/public/images/pic27.jpg" download class="download-icon">⬇️</a>
              </div>
              <div class="grid-item">
                <img src="/public/images/pic28.jpg" alt="Astral Space">
                <a href="/public/images/pic28.jpg" download class="download-icon">⬇️</a>
              </div>
          </div>
    </div>
     
     

      
    </main>
  </div>
  

 
</div>

  
</body>
</html>
