body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
   
    justify-content: center;
    align-items: center;
    background-color: #0f0f23;
    color: white;
 
  }

 header, h2 {
   margin-top: 100px;
   margin-bottom: 50px;
   text-align: center;
   align-items: center;
   font-size: xx-large;
   justify-content: space-between;
 }
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

    
  /* Navbar */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0, 255, 255, 0.4);
  }
  
  /* Navbar items */
  .navbar select,
  .navbar button,
  .navbar a {
    padding: 15px 1rem;
    margin-left: 10px;
    border: none;
    border-radius:15px;
    background-color: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
  }

  /* Glowing buttons */
  
  .logout-button {
    padding: 0.5rem 1rem;
    border: 2px solid #0ce2ff;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #19f1ed;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px #0eb6fe;
    margin-right: 50px;
  }
  

 

  .sign-in-button:hover,
  .sign-up-button:hover,
  .logout-button:hover,
  .saved-spaces-button {
    background-color: none;
    color: #ffffff;
    box-shadow: 0 0 20px #0dfafe, 0 0 40px #1efbc4;
  }
  
  .saved-spaces-button {
    padding: 0.5rem 1rem;
    border: 2px solid #0ce2ff;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #19f1ed;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px #0eb6fe;
    margin-top: 100px;
    text-decoration: none;
  
  }
  
  nav a {
    color: #254259;
    text-decoration: none;
    font-weight: bold;
   
  }
  
  .logout-button {
    padding: 0.5rem 1rem;
    border: 2px solid #0ce2ff;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #19f189;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px #10e2a3;
  }
  
  .logout-button:hover {
    background-color: #1b0a8d;
    color: #11d3ed;
    box-shadow: 0 0 20px #0dfafe, 0 0 40px #1efbc4;
    cursor: pointer;
  }
  
  
  
  .sound-controls {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    gap: 15px;
    z-index: 20;
  }
  
  .sound-btn {
    background-color: rgba(255, 255, 255, 0.1);
    color: #19f1ed;
    border: 2px solid #0ce2ff;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0 10px #0eb6fe;
    transition: all 0.3s ease;
  }
  
  .sound-btn:hover {
    background-color: #0bcadb;
    color: black;
    box-shadow: 0 0 20px #0dfafe;
  }
  
  .breathing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    position: relative;
  }
  
  
  .breath-text h1 {
    font-size: 2rem;
    margin-top: 40px;
    color: #c0f5ff;
    text-shadow: 0 0 20px #79f0ff;
    text-align: center;
  }
  
  .circle {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 130px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px #19f1ed;
    transition: all 3s ease-in-out;
    align-items: center;
  }
  
  .circle.grow {
    transform: scale(1.5);
    background: rgba(0, 255, 255, 0.3);
    box-shadow: 0 0 50px #0dfafe;
  }
  
  .circle.hold {
    transition: all 1.5s ease-in-out;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 30px #00f3c0;
  }
  
  .circle.shrink {
    transform: scale(1);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 15px #12b3c7;
  }
  